#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

#logo {
    margin: 5px;
    width: 50px;
}

#name {
    font-size: 32pt;
    vertical-align: top;
}

#account {
   padding-top: 5px;
}

#addDeviceForm, #updateInfoForm, #updateError, #main, #error {
   display: none;
}

.input-field input {
   color: white;
}

.select-dropdown {
  color: black  !important;
}

.select-wrapper .caret {
   fill: white;
} 

.ping {
  margin-left: 20px;
}

.avgHrtRate th, .minHrtRate th, .maxHrtRate th{
  color: #6e6e6e;
  font-size: 12pt;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border: 1px solid white;
  background-color: #ffcdd2;
}

.avgHrtRate td, .minHrtRate td, .maxHrtRate td{
  color: #6e6e6e;
  font-size: 12pt;
  text-align: middle;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: #ffcdd2;
}

ul.dropdown-content.select-dropdown li span {
    color: #000; 
}

button{
  background-color: #b71c1c !important;
}
#getDailyS02, #getDailyBPM, #registerButton{
  background-color: #b71c1c !important;
}

#navButton {
  background-color: #6e0202 !important;
}

#selectTimeForm{
  display: none;
}